# This is a comment.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

*                           @bugroger @databus23 @edda @auhlig @schwarzm @jonathanschwarze @vonneudeck
/charts                     @databus23 @bugroger @vonneudeck @auhlig
/charts/k8sniff             @auhlig
/charts/kubernikus-system   @auhlig @bugroger
/charts/kube-master         @databus23 @bugroger
/charts/kubernikus          @databus23 @bugroger
/ci                         @databus23
/contrib                    @bugroger
/docs                       @bugroger
/pkg/api                    @databus23
ground                      @databus23
launch                      @bugroger
/pkg/templates              @schwarzm
wormhole                    @databus23
/pkg/cmd/kubernikusctl      @schwarzm
/pkg/cmd/kubernikusctl/auth @bugroger
swagger                     @databus23
