consumes:
  - application/json
info:
  title: Kubernikus
  version: 1.0.0
produces:
  - application/json
swagger: '2.0'
securityDefinitions:
  keystone:
    description: OpenStack Keystone Authentication
    type: apiKey
    in: header
    name: x-auth-token
security:
  - keystone: []
responses:
  errorResponse:
    description: Error
    schema:
      $ref: '#/definitions/error'
paths:
  /info:
    get:
      security: []
      operationId: Info
      summary: Get info about Kubernikus
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Info'
  /api:
    get:
      security: []
      operationId: ListAPIVersions
      summary: List available api versions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiVersions'
  /api/v1/openstack/metadata:
    get:
      operationId: GetOpenstackMetadata
      summary: Grab bag of openstack metadata
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpenstackMetadata'
        default:
          $ref: '#/responses/errorResponse'
  /api/v1/clusters:
    get:
      operationId: ListClusters
      summary: List available clusters
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
    post:
      operationId: CreateCluster
      summary: Create a cluster
      responses:
        '201':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Kluster'
  '/api/v1/clusters/{name}':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: ShowCluster
      summary: Show the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
    delete:
      operationId: TerminateCluster
      summary: Terminate the specified cluster
      responses:
        '202':
          description: OK
        default:
          $ref: '#/responses/errorResponse'
    put:
      operationId: UpdateCluster
      summary: Update the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Kluster'
  '/api/v1/clusters/{name}/credentials':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterCredentials
      summary: Get user specific credentials to access the cluster
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Credentials'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/info':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterInfo
      summary: Get user specific info about the cluster
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KlusterInfo'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/events':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterEvents
      summary: Get recent events about the cluster
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        default:
          $ref: '#/responses/errorResponse'
definitions:
  Event:
    type: object
    properties:
      count:
        description: The number of times this event has occurred.
        type: integer
      lastTimestamp:
        description: The time at which the most recent occurrence of this event was recorded
        type: string
        format: date-time
      firstTimestamp:
        description: The time at which the event was first recorded
        type: string
        format: date-time
      reason:
        description: A short, machine understandable string that gives the reason for the event
        type: string
      message:
        description: A human-readable description of the event
        type: string
      type:
        description: Type of this event
        type: string
        enum: [Normal, Warning]
  OpenstackMetadata:
    type: object
    properties:
      flavors:
        type: array
        items:
          type: object
          x-go-name: Flavor
          properties:
            name:
              type: string
            id:
              type: string
      securityGroups:
        type: array
        items:
          type: object
          x-go-name: SecurityGroup
          properties:
            name:
              type: string
            id:
              type: string
      keyPairs:
        type: array
        items:
          type: object
          x-go-name: KeyPair
          properties:
            name:
              type: string
      routers:
        type: array
        items:
          type: object
          x-go-name: Router
          properties:
            name:
              type: string
            id:
              type: string
            networks:
              type: array
              items:
                type: object
                x-go-name: Network
                properties:
                  name:
                    type: string
                  id:
                    type: string
                  subnets:
                    type: array
                    items:
                      type: object
                      x-go-name: Subnet
                      properties:
                        name:
                          type: string
                        id:
                          type: string
                        CIDR:
                          type: string
  KlusterPhase:
    type: string
    enum:
      - Pending
      - Creating
      - Running
      - Terminating
  Info:
    properties:
      version:
        type: string
  KlusterInfo:
    properties:
      setupCommand:
        type: string
      binaries:
        type: array
        items:
          type: object
          x-go-name: Binaries
          x-nullable: false
          properties:
            name:
              type: string
            links:
              type: array
              items:
                x-go-name: Link
                x-nullable: false
                type: object
                properties:
                  platform:
                    type: string
                  link:
                    type: string
  ApiVersions:
    required:
      - versions
    properties:
      versions:
        description: versions are the api versions that are available.
        type: array
        items:
          type: string
  Kluster:
    type: object
    required:
      - name
    properties:
      name:
        x-nullable: false
        description: name of the cluster
        type: string
        pattern: '^[a-z]([-a-z0-9]*[a-z0-9])?$'
      spec:
        $ref: '#/definitions/KlusterSpec'
      status:
        $ref: '#/definitions/KlusterStatus'
  KlusterSpec:
    type: object
    x-nullable: false
    properties:
      openstack:
        $ref: '#/definitions/OpenstackSpec'
      serviceCIDR:
        description: CIDR Range for Services in the cluster. Can not be updated.
        default: 198.18.128.0/17
        x-nullable: false
        type: string
        pattern: >-
          ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
      clusterCIDR:
        description: CIDR Range for Pods in the cluster. Can not be updated.
        default: 198.19.0.0/16
        type: string
        x-nullable: false
        pattern: >-
          ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
      nodePools:
        type: array
        items:
          $ref: '#/definitions/NodePool'
      advertiseAddress:
        x-nullable: false
        default: 1.1.1.1
        type: string
      dnsAddress:
        type: string
      dnsDomain:
        x-nullable: false
        type: string
        default: cluster.local
      version:
        pattern: '^v[0-9]+\.[0-9]+\.[0-9]+$'
        type: string
        readOnly: true
      name:
        type: string
        readOnly: true
  OpenstackSpec:
    type: object
    x-nullable: false
    properties:
      projectID:
        type: string
      routerID:
        type: string
      networkID:
        type: string
      lbSubnetID:
        x-go-name: LBSubnetID
        type: string
      lbFloatingNetworkID:
        x-go-name: LBFloatingNetworkID
        type: string
      securityGroupID:
        type: string
  NodePool:
    x-nullable: false
    type: object
    required:
      - name
      - flavor
    properties:
      name:
        x-nullable: false
        type: string
        pattern: '^[a-z]([a-z0-9]*)?$'
      size:
        x-nullable: false
        type: integer
        maximum: 127
        minimum: 0
        default: 0
      flavor:
        type: string
        x-nullable: false
      image:
        x-nullable: false
        type: string
        default: coreos-stable-amd64
      config:
        $ref: '#/definitions/NodePoolConfig'
  NodePoolConfig:
    type: object
    x-nullable: false
    properties:
      upgrade:
        type: boolean
      repair:
        type: boolean
  KlusterStatus:
    readOnly: true
    x-nullable: false
    type: object
    properties:
      phase:
        $ref: '#/definitions/KlusterPhase'
      message:
        type: string
      nodePools:
        type: array
        items:
          $ref: '#/definitions/NodePoolInfo'
      apiserver:
        type: string
      wormhole:
        type: string
      version:
        type: string
  NodePoolInfo:
    x-nullable: false
    type: object
    properties:
      name:
        type: string
      size:
        type: integer
      running:
        type: integer
      healthy:
        type: integer
      schedulable:
        type: integer
  Credentials:
    type: object
    properties:
      kubeconfig:
        type: string
  Principal:
    type: object
    properties:
      authUrl:
        description: Identity Endpoint
        type: string
      name:
        description: username
        type: string
      id:
        description: userid
        type: string
      domain:
        description: user's domain name
        type: string
      account:
        description: account id
        type: string
      roles:
        description: list of roles the user has in the given scope
        type: array
        items:
          type: string
  error:
    description: >
      the error model is a model for all the error responses coming from
      Kubernikus
    type: object
    required:
      - message
      - code
    properties:
      code:
        type: integer
        description: The error code
      message:
        description: The error message
        type: string
      helpUrl:
        description: link to help page explaining the error in more detail
        type: string
        format: uri

