consumes:
  - application/json
info:
  title: Kubernikus
  version: 1.0.0
produces:
  - application/json
swagger: '2.0'
securityDefinitions:
  keystone:
    description: OpenStack Keystone Authentication
    type: apiKey
    in: header
    name: x-auth-token
security: []
responses:
  errorResponse:
    description: Error
    schema:
      $ref: '#/definitions/error'
paths:
  /api/:
    get:
      operationId: ListAPIVersions
      summary: List available api versions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiVersions'
        '401':
          description: Unauthorized
  /api/v1/clusters/:
    get:
      operationId: ListClusters
      summary: List available clusters
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Cluster'
        default:
          $ref: '#/responses/errorResponse'
      security:
        - keystone: []
    post:
      operationId: CreateCluster
      summary: Create a cluster
      responses:
        '201':
          description: OK
          schema:
            $ref: '#/definitions/Cluster'
        default:
          $ref: '#/responses/errorResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Cluster'
      security:
        - keystone: []
  '/api/v1/clusters/{name}':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: ShowCluster
      summary: Show the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Cluster'
        default:
          $ref: '#/responses/errorResponse'
      security:
        - keystone: []
    delete:
      operationId: TerminateCluster
      summary: Terminate the specified cluster
      responses:
        '202':
          description: OK
          schema:
            type: object
        default:
          $ref: '#/responses/errorResponse'
      security:
        - keystone: []
    put:
      operationId: UpdateCluster
      summary: Update the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Cluster'
        default:
          $ref: '#/responses/errorResponse'
      security:
        - keystone: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Cluster'
  '/api/v1/clusters/{name}/credentials':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterCredentials
      summary: Get user specific credentials to access the cluster
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Credentials'
        default:
          $ref: '#/responses/errorResponse'
      security:
        - keystone: []
definitions:
  ApiVersions:
    required:
      - versions
    properties:
      versions:
        description: versions are the api versions that are available.
        type: array
        items:
          type: string
  Cluster:
    type: object
    required:
      - name
    properties:
      name:
        description: name of the cluster
        type: string
        pattern: '^[a-z]([-a-z0-9]*[a-z0-9])?$'
      spec:
        properties:
          nodePools:
            type: array
            items:
              required:
                - name
                - size
                - flavor
              properties:
                name:
                  type: string
                  pattern: '^[a-z]([a-z0-9]*)?$'
                size:
                  type: integer
                  maximum: 127
                  minimum: 0
                flavor:
                  type: string
                image:
                  type: string
      status:
        properties:
          kluster:
            properties:
              state:
                description: status of the cluster
                type: string
              message:
                type: string
          nodePools:
            type: array
            items:
              required:
                - name
                - size
                - running
                - healthy
                - schedulable
              properties:
                name:
                  type: string
                size:
                  type: integer
                running:
                  type: integer
                healthy:
                  type: integer
                schedulable:
                  type: integer
  Credentials:
    type: object
    properties:
      kubeconfig:
        type: string
  Principal:
    type: object
    properties:
      name:
        description: username
        type: string
      id:
        description: userid
        type: string
      domain:
        description: domainid
        type: string
      account:
        description: account id
        type: string
      roles:
        description: list of roles the user has in the given scope
        type: array
        items:
          type: string
  error:
    description: >
      the error model is a model for all the error responses coming from
      Kubernikus 
    type: object
    required:
      - message
      - code
    properties:
      code:
        type: integer
        description: The error code
      message:
        description: The error message
        type: string
      helpUrl:
        description: link to help page explaining the error in more detail
        type: string
        format: uri
