consumes:
  - application/json
info:
  title: Kubernikus
  version: 1.0.0
produces:
  - application/json
swagger: '2.0'
securityDefinitions:
  keystone:
    description: OpenStack Keystone Authentication
    type: apiKey
    in: header
    name: x-auth-token
  dex:
    type: oauth2
    flow: accessCode
    authorizationUrl: 'https://example.com/auth'
    tokenUrl: 'https://example.com/token'
    scopes:
      admin: Admin scope
      user: User scope
security:
  - keystone: []
  - dex:
    - user
responses:
  errorResponse:
    description: Error
    schema:
      $ref: '#/definitions/error'
paths:
  /auth/login:
    get:
      parameters:
        - name: connector_id
          in: query
          type: string
          required: false
      summary: login through oauth2 server
      security: []
      responses:
        '302':
          description: Redirect
  /auth/callback:
    get:
      parameters:
        - name: code
          in: query
          type: string
          required: true
        - name: state
          in: query
          type: string
          required: true
      summary: callback for oauth result
      security: []
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              type:
                description: Token type
                type: string
              idToken:
                description: idToken
                type: string
        default:
          $ref: '#/responses/errorResponse'
  /info:
    get:
      security: []
      operationId: Info
      summary: Get info about Kubernikus
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Info'
  /api:
    get:
      security: []
      operationId: ListAPIVersions
      summary: List available api versions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiVersions'
  /api/v1/openstack/metadata:
    get:
      operationId: GetOpenstackMetadata
      summary: Grab bag of openstack metadata
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpenstackMetadata'
        default:
          $ref: '#/responses/errorResponse'
  /api/v1/clusters:
    get:
      operationId: ListClusters
      summary: List available clusters
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
    post:
      operationId: CreateCluster
      summary: Create a cluster
      responses:
        '201':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Kluster'
  '/api/v1/clusters/{name}':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: ShowCluster
      summary: Show the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
    delete:
      operationId: TerminateCluster
      summary: Terminate the specified cluster
      responses:
        '202':
          description: OK
        default:
          $ref: '#/responses/errorResponse'
    put:
      operationId: UpdateCluster
      summary: Update the specified cluser
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Kluster'
        default:
          $ref: '#/responses/errorResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Kluster'
  '/api/v1/clusters/{name}/credentials':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterCredentials
      summary: Get user specific credentials to access the cluster
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Credentials'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/credentials/oidc':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterCredentialsOIDC
      summary: Get user specific credentials to access the cluster with OIDC
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Credentials'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/bootstrap':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetBootstrapConfig
      summary: Get bootstrap config to onboard a node
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BootstrapConfig'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/info':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterInfo
      summary: Get user specific info about the cluster
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KlusterInfo'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/clusters/{name}/events':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
    get:
      operationId: GetClusterEvents
      summary: Get recent events about the cluster
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        default:
          $ref: '#/responses/errorResponse'
  '/api/v1/{account}/clusters/{name}/values':
    parameters:
      - uniqueItems: true
        type: string
        name: name
        required: true
        in: path
      - uniqueItems: true
        type: string
        name: account
        required: true
        in: path
    get:
      operationId: GetClusterValues
      summary: Get values for cluster chart (admin-only)
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              values:
                description: The values in yaml Format
                type: string
        default:
          $ref: '#/responses/errorResponse'
definitions:
  Event:
    type: object
    properties:
      count:
        description: The number of times this event has occurred.
        type: integer
      lastTimestamp:
        description: The time at which the most recent occurrence of this event was recorded
        type: string
      firstTimestamp:
        description: The time at which the event was first recorded
        type: string
      reason:
        description: A short, machine understandable string that gives the reason for the event
        type: string
      message:
        description: A human-readable description of the event
        type: string
      type:
        description: Type of this event
        type: string
        enum: [Normal, Warning]
  OpenstackMetadata:
    type: object
    properties:
      availabilityZones:
        type: array
        items:
          x-nullable: false
          type: object
          x-go-name: AvailabilityZone
          properties:
            name:
              type: string
      flavors:
        type: array
        items:
          x-nullable: false
          type: object
          x-go-name: Flavor
          properties:
            name:
              type: string
            id:
              type: string
            ram:
              type: integer
            vcpus:
              type: integer
      securityGroups:
        type: array
        items:
          type: object
          x-go-name: SecurityGroup
          properties:
            name:
              type: string
            id:
              type: string
      keyPairs:
        type: array
        items:
          type: object
          x-go-name: KeyPair
          properties:
            name:
              type: string
            publicKey: 
              type: string

      routers:
        type: array
        items:
          type: object
          x-go-name: Router
          properties:
            name:
              type: string
            id:
              type: string
            externalNetworkID:
              type: string
              x-go-name: ExternalNetworkID
            networks:
              type: array
              items:
                type: object
                x-go-name: Network
                properties:
                  name:
                    type: string
                  id:
                    type: string
                  subnets:
                    type: array
                    items:
                      type: object
                      x-go-name: Subnet
                      properties:
                        name:
                          type: string
                        id:
                          type: string
                        CIDR:
                          type: string
  KlusterPhase:
    type: string
    enum:
      - Pending
      - Creating
      - Running
      - Upgrading
      - Terminating
  Info:
    properties:
      gitVersion:
        type: string
      defaultClusterVersion:
        type: string
      supportedClusterVersions:
        type: array
        x-omitempty: true
        items:
          type: string
      availableClusterVersions:
        type: array
        x-omitempty: true
        items:
          type: string
  KlusterInfo:
    properties:
      setupCommand:
        type: string
      binaries:
        type: array
        items:
          type: object
          x-go-name: Binaries
          x-nullable: false
          properties:
            name:
              type: string
            links:
              type: array
              items:
                x-go-name: Link
                x-nullable: false
                type: object
                properties:
                  platform:
                    type: string
                  link:
                    type: string
  ApiVersions:
    required:
      - versions
    properties:
      versions:
        description: versions are the api versions that are available.
        type: array
        items:
          type: string
  Kluster:
    type: object
    required:
      - name
    properties:
      name:
        x-nullable: false
        description: name of the cluster
        type: string
        pattern: '^[a-z]([-a-z0-9]*[a-z0-9])?$'
        maxLength: 20
      spec:
        $ref: '#/definitions/KlusterSpec'
      status:
        $ref: '#/definitions/KlusterStatus'
  KlusterSpec:
    type: object
    x-nullable: false
    properties:
      openstack:
        $ref: '#/definitions/OpenstackSpec'
      audit:
        type: object
        x-nullable: true
        properties:
          username:
            type: string
          password:
            type: string
          endpoint:
            type: string
          type:
            type: string
      noCloud:
        type: boolean
      dashboard:
        type: boolean
        x-nullable: true 
        x-omitempty: false
      dex:
        type: boolean
        x-nullable: true 
        x-omitempty: false
      serviceCIDR:
        description: CIDR Range for Services in the cluster. Can not be updated.
        default: 198.18.128.0/17
        x-nullable: false
        type: string
        pattern: >-
          ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
      clusterCIDR:
        description: CIDR Range for Pods in the cluster. Can not be updated.
        default: 100.100.0.0/16
        type: string
        pattern: >-
          ^((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2])))?$
      nodePools:
        type: array
        items:
          $ref: '#/definitions/NodePool'
      advertiseAddress:
        x-nullable: false
        default: 1.1.1.1
        type: string
      advertisePort:
        x-nullable: false
        default: 6443
        type: integer
      dnsAddress:
        type: string
        pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
      dnsDomain:
        x-nullable: false
        type: string
        default: cluster.local
      sshPublicKey:
        description: SSH public key that is injected into spawned nodes.
        type: string
        maxLength: 10000
      version:
        description: Kubernetes version
        pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
        type: string
      name:
        type: string
        readOnly: true
      backup:
        type: string
        x-nullable: false
        enum: ["on", "off", "externalAWS"]
        default: "on"
  OpenstackSpec:
    type: object
    x-nullable: false
    properties:
      routerID:
        type: string
      networkID:
        type: string
      lbSubnetID:
        x-go-name: LBSubnetID
        type: string
      lbFloatingNetworkID:
        x-go-name: LBFloatingNetworkID
        type: string
      securityGroupName:
        type: string
  NodePool:
    x-nullable: false
    type: object
    required:
      - name
      - flavor
    properties:
      name:
        x-nullable: false
        type: string
        pattern: '^[a-z0-9]([-\.a-z0-9]*)?$'
        maxLength: 20
      size:
        x-nullable: false
        type: integer
        maximum: 127
        minimum: 0
        default: 0
      flavor:
        type: string
        x-nullable: false
      image:
        x-nullable: false
        type: string
        default: flatcar-stable-amd64
      availabilityZone:
        type: string
        x-nullable: false
      customRootDiskSize:
        type: integer
        minimum: 64
        maximum: 1024
        description: Create servers with custom (cinder based) root disked. Size in GB
      taints:
        description: The specified taints will be added to members of this pool once during initial registration of the node
        type: array
        items:
          type: string
          # validate [valid label name]=[valid label value]:[valid effect]
          pattern: '^([a-z0-9]([-a-z0-9]*[a-z0-9])(\.[a-z0-9]([-a-z0-9]*[a-z0-9]))*/)?[A-Za-z0-9][-A-Za-z0-9_.]{0,62}=[A-Za-z0-9][-A-Za-z0-9_.]{0,62}:(NoSchedule|NoExecute|PreferNoSchedule)$'
      labels:
        description: The specified labels will be added to members of this pool once during initial registration of the node
        type: array
        items:
          type: string
          # validate [valid label name]=[valid label value]
          pattern: '^([a-z0-9]([-a-z0-9]*[a-z0-9])(\.[a-z0-9]([-a-z0-9]*[a-z0-9]))*/)?[A-Za-z0-9][-A-Za-z0-9_.]{0,62}=[A-Za-z0-9][-A-Za-z0-9_.]{0,62}$'
      config:
        $ref: '#/definitions/NodePoolConfig'
  NodePoolConfig:
    type: object
    x-nullable: true 
    properties:
      allowReboot:
        description: Allow automatic drain and reboot of nodes. Enables OS updates. Required by security policy.
        x-nullable: true 
        x-omitempty: false
        type: boolean
      allowReplace:
        description: Allow automatic drain and replacement of nodes. Enables Kubernetes upgrades.
        x-nullable: true
        x-omitempty: false
        type: boolean
  KlusterStatus:
    readOnly: true
    x-nullable: false
    type: object
    properties:
      phase:
        $ref: '#/definitions/KlusterPhase'
      migrationsPending:
        type: boolean
      nodePools:
        type: array
        items:
          $ref: '#/definitions/NodePoolInfo'
      apiserver:
        type: string
      dashboard:
        type: string
      apiserverVersion:
        type: string
      chartName:
        type: string
      chartVersion:
        type: string
      wormhole:
        type: string
      version:
        type: string
      specVersion:
        type: integer
  NodePoolInfo:
    x-nullable: false
    type: object
    properties:
      name:
        type: string
      size:
        type: integer
      running:
        type: integer
      healthy:
        type: integer
      schedulable:
        type: integer
  Credentials:
    type: object
    properties:
      kubeconfig:
        type: string
  BootstrapConfig:
    type: object
    properties:
      kubeconfig:
        type: string
      kubeletClientsCA:
        type: string
      kubeletClientsCAFile:
        type: string
      config:
        type: string
  Principal:
    type: object
    properties:
      name:
        description: username
        type: string
      id:
        description: userid
        type: string
      domain:
        description: user's domain name
        type: string
      account:
        description: account id
        type: string
      account_name:
        description: account name
        type: string
      roles:
        description: list of roles the user has in the given scope
        type: array
        items:
          type: string
      groups:
        description: list of groups the user belongs to
        type: array
        items:
          type: string
  error:
    description: >
      the error model is a model for all the error responses coming from
      Kubernikus
    type: object
    required:
      - message
      - code
    properties:
      code:
        type: integer
        description: The error code
        x-nullable: false
      message:
        description: The error message
        type: string
        x-nullable: false
      helpUrl:
        description: link to help page explaining the error in more detail
        type: string
        format: uri
