{{/* vim: set filetype=gotexttmpl: */ -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fullname" . }}
  labels:
    app: {{ include "fullname" . }}
data:
  bootstrap.sh: |-
    #!/bin/sh
    if [ ! -d /var/lib/etcd/new.etcd ]; then
        mkdir /var/lib/etcd/new.etcd
    fi
    if [ -d /var/lib/etcd/member ]; then
        mv /var/lib/etcd/member /var/lib/etcd/new.etcd/member
    fi
    while true;
    do
      wget http://localhost:8080/initialization/status -S -O status;
      STATUS=`cat status`;
      case $STATUS in
      "New")
            wget http://localhost:8080/initialization/start -S -O - ;;
      "Progress")
            sleep 1;
            continue;;
      "Failed")
            continue;;
      "Successful")
            . /bootstrap/etcd.sh
            ;;
      esac;
    done
  etcd.sh: |-
    #!/bin/sh
    if [ ! -d /var/lib/etcd/new.etcd ]; then
        mkdir /var/lib/etcd/new.etcd
    fi
    if [ -d /var/lib/etcd/member ]; then
        mv /var/lib/etcd/member /var/lib/etcd/new.etcd/member
    fi

    exec etcd \
      --name=kubernikus \
      --data-dir=/var/lib/etcd/new.etcd \
      --advertise-client-urls=http://${ETCD_IP}:2379 \
      --initial-advertise-peer-urls=http://${ETCD_IP}:2380 \
      --initial-cluster=kubernikus=http://${ETCD_IP}:2380 \
      --listen-client-urls=http://0.0.0.0:2379 \
      --listen-peer-urls=http://${ETCD_IP}:2380
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ include "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "fullname" . }}
        release: {{ .Release.Name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "fullname" .) }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: bootstrap
          configMap:
            name: {{ include "fullname" . }}
            defaultMode: 0700
      containers:
        - name: etcd
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: ETCD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          command:
            - /bootstrap/{{ if .Values.backup.enabled }}bootstrap.sh{{ else }}etcd.sh{{ end }}
          volumeMounts:
            - mountPath: /var/lib/etcd
              name: data
            - mountPath: /bootstrap
              name: bootstrap
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -ec
                - ETCDCTL_API=3 etcdctl get foo
            initialDelaySeconds: 300
            periodSeconds: 30
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -ec
                - ETCDCTL_API=3 etcdctl get foo
            initialDelaySeconds: 5
            periodSeconds: 5
{{ include "resource.requirements" .Values.resources | indent 10 }}
{{- if .Values.backup.enabled }}
        - name: backup
          command:
            - etcdbrctl
            - server
            - --schedule={{ .Values.backup.schedule }}
            {{- if .Values.backup.maxBackups }}
            - --max-backups={{ .Values.backup.maxBackups }}
            {{- end }}
            - --data-dir=/var/lib/etcd/new.etcd
            - --insecure-transport=true
            - --storage-provider={{ .Values.backup.storageProvider | default "Swift" }}
            - --delta-snapshot-period-seconds={{ .Values.backup.deltaSnapshotPeriod }}
            - --garbage-collection-period-seconds={{ .Values.backup.garbageCollectionPeriod }}
            - --garbage-collection-policy={{ .Values.backup.garbageCollectionPolicy }}
          image: "{{ .Values.backup.image.repository }}:{{ .Values.backup.image.tag }}"
          imagePullPolicy: {{ .Values.backup.image.pullPolicy }}
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          env:
{{- if eq .Values.backup.storageProvider "S3" }}
            - name: STORAGE_CONTAINER
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}-aws
                  key: bucket-name
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}-aws
                  key: region
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}-aws
                  key: secret-access-key
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}-aws
                  key: access-key-id
{{- else if eq .Values.backup.storageProvider "Swift" }}
            - name: STORAGE_CONTAINER
              value: {{ .Values.storageContainer }}
            - name: OS_AUTH_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}
                  key: openstack-auth-url
            - name: OS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}
                  key: openstack-username
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}
                  key: openstack-password
            - name: OS_DOMAIN_NAME
              value: kubernikus
            - name: OS_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "fullname" . }}
                  key: openstack-project-id
{{- end }}
          volumeMounts:
            - mountPath: /var/lib/etcd
              name: data
          resources:
{{ toYaml .Values.backup.resources | indent 12 }}
{{- end }}
