apiVersion: "autoscaling.k8s.io/v1"
kind: VerticalPodAutoscaler
metadata:
  name: {{ include "fullname" . }}
spec:
  targetRef:
    {{- if .Capabilities.APIVersions.Has "apps/v1" }}
    apiVersion: "apps/v1"
    {{- else }}
    apiVersion: "extensions/v1beta1"
    {{- end }}
    kind: Deployment
    name: {{ include "fullname" . }}
  resourcePolicy:
    containerPolicies:
      - containerName: etcd
        controlledResources: ["cpu", "memory"]
        minAllowed:
          {{- toYaml .Values.resources.requests | nindent 12 }}
{{- if .Values.resources.limits }}
        maxAllowed:
          {{- toYaml .Values.resources.limits | nindent 12 }}
{{- else if .Values.vpa.maxAllowed }}
        maxAllowed:
          {{- toYaml .Values.vpa.maxAllowed | nindent 12 }}
{{- end }}
{{- if and .Values.backup.enabled .Values.backup.resources}}
      - containerName: backup
        controlledResources: ["cpu", "memory"]
        minAllowed:
          {{- toYaml .Values.backup.resources.requests | nindent 12 }}
{{- if .Values.resources.limits }}
        maxAllowed:
          {{- toYaml .Values.backup.resources.limits| nindent 12 }}
{{- else if .Values.backup.vpa.maxAllowed }}
        maxAllowed:
          {{- toYaml .Values.backup.vpa.maxAllowed | nindent 12 }}
{{- end }}
{{- end }}
{{- end }}
