# Default values for etcd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: sapcc/etcd
  tag: v3.3.13
  pullPolicy: IfNotPresent
## Persist data to a persitent volume
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
  # Re-use existing (unmanged) PVC
  # existingClaim: claimName
resources:
  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 1
    memory: 2560Mi
backup:
  enabled: true
  storageProvider: Swift
  image:
    repository: sapcc/etcdbrctl
    tag: 0.5.2
    pullPolicy: IfNotPresent
  # do a full-backup every hour
  schedule: "15 * * * *"
  # keep number of backups
  # only used if garbageCollectionPolicy is LimitBased
  # maxBackups: 168
  # delta-snapshot every 30 seconds
  deltaSnapshotPeriod: 30
  # clean-up old backups every hour
  garbageCollectionPeriod: 3600
  # condense in time
  garbageCollectionPolicy: "Exponential"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 1.5Gi
