# Default values for etcd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: sapcc/etcd
  tag: v3.3.12
  pullPolicy: IfNotPresent
## Persist data to a persitent volume
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
  # Re-use existing (unmanged) PVC
  # existingClaim: claimName
resources:
  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 750m
    memory: 2560Mi
backup:
  enabled: true
  image:
    repository: sapcc/etcdbrctl
    tag: 0.5.0
    pullPolicy: IfNotPresent
  config:
    # do a full-backup every hour
    schedule: "15 * * * *"
    # keep backups for one week
    maxBackups: 168
    # delta-snapshot every 10 seconds
    deltaSnapshotPeriod: 10
    # clean-up old backups every 5 minutes
    garbageCollectionPeriod: 300
    # keep maxBackups
    garbageCollectionPolicy: "LimitBased"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 1.5Gi
