apiVersion: extensions/v1beta1
kind: Deployment

metadata:
  name: kubernikus-api
  labels:
    app: kubernikus
    type: api

spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  template:
    metadata:
      labels:
        app: kubernikus
        type: api
    spec:
      containers:
        - name: api
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          args:
            - apiserver
            - --port={{ .Values.api.port }}
            - --host=0.0.0.0
            {{- /* This is a bit convoluted but making sure that the url ends with /v3 */}}
            - --auth-url={{ trimSuffix "/" .Values.openstack.auth_url | trimSuffix "/v3" }}/v3
            - --v={{ default 1 .Values.api.log_level }}
            - --namespace={{ default "kubernikus" .Values.namespace }}
            - --policy={{ default "/etc/kubernikus/policy.json" .Values.api.policyFile }}
            - --images-file=/etc/kubernikus/charts/images.yaml
          ports:
            - name: http
              containerPort: {{ .Values.api.port }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.api.port }}
            initialDelaySeconds: 3
            periodSeconds: 5
