{{- if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: "apps/v1"
{{- else }}
apiVersion: "extensions/v1beta1"
{{- end }}
kind: Deployment

metadata:
  name: kubernikus-api
  labels:
    app: kubernikus
    type: api

spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: kubernikus
      type: api
  template:
    metadata:
      labels:
        app: kubernikus
        type: api
      annotations:
        prometheus.io/scrape: 'true'
        {{- if .Values.linkerd.enabled }}
        linkerd.io/inject: enabled
        {{- end }}
    spec:
      {{- if .Values.useServiceAccount }}
      serviceAccountName: kubernikus-api
      {{- end }}
      containers:
        - name: api
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          args:
            - apiserver
            - --port={{ .Values.api.port }}
            - --host=0.0.0.0
            {{- if .Values.dex.enabled }}
            - --oidc-issuer-url=https://{{ include "oidc.issuer" . }}
            - --oidc-client-id={{ required "api.oidc.clientID missing" .Values.dex.clientID }}
            - --oidc-client-secret={{ required "api.oidc.clientSecret missing" .Values.dex.clientSecret }}
            - --oidc-callback-url=https://{{ required "domain missing" .Values.domain }}/auth/callback
            {{- else }}
            - --policy={{ default "/etc/kubernikus/policy.json" .Values.api.policyFile }}
            {{- end }}
            {{- /* This is a bit convoluted but making sure that the url ends with /v3 */}}
            - --auth-url={{ trimSuffix "/" .Values.openstack.auth_url | trimSuffix "/v3" }}/v3
            - --v={{ default 1 .Values.api.log_level }}
            - --namespace={{ default "kubernikus" .Values.namespace }}
            - --images-file=/etc/kubernikus/charts/images.yaml
            {{- if .Values.openstack.region }}
            {{- if ne .Values.openstack.region "qa-de-1" }}
            - --region={{ .Values.openstack.region }}
            {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.api.port }}
            - name: metrics
              containerPort: 9100
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.api.port }}
            initialDelaySeconds: 3
            periodSeconds: 5
