{{- if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: "apps/v1"
{{- else }}
apiVersion: "extensions/v1beta1"
{{- end }}
kind: Deployment

metadata:
  name: kubernikus-operator
  labels:
    app: kubernikus
    type: operator

spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: kubernikus
      type: operator
  template:
    metadata:
      labels:
        app: kubernikus
        type: operator
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: {{ .Values.operator.metrics_port | quote }}
    spec:
      {{- if .Values.useServiceAccount }}
      serviceAccountName: kubernikus-operator
      {{- end }}
      containers:
        - name: operator
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          args:
            - kubernikus
            - operator
            - --chart-directory=/etc/kubernikus/charts
            {{- if .Values.openstack.auth_url }}
            {{- /* This is a bit convoluted but making sure that the url ends with /v3 */}}
            - --auth-url={{ trimSuffix "/" .Values.openstack.auth_url | trimSuffix "/v3" }}/v3
            - --auth-username={{ .Values.openstack.auth_user_id }}
            - --auth-domain={{ .Values.openstack.auth_domain }}
            - --auth-project={{ .Values.openstack.auth_project }}
            - --auth-project-domain={{ .Values.openstack.auth_project_domain }}
            {{- end }}
            - --kubernikus-domain={{ .Values.domain }}
            - --namespace={{ default "kubernikus" .Values.namespace }}
            {{- if .Values.operator.controllers }}
            - --controllers={{ join "," .Values.operator.controllers }}
            {{- end }}
            - --v={{ default 1 .Values.groundctl.log_level }}
            {{- if .Values.openstack.region}}
            {{- if ne .Values.openstack.region "qa-de-1" }}
            - --region={{ .Values.openstack.region }}
            {{- end }}
            {{- end }}
            {{- if .Values.operator.nodeUpdateHoldoff }}
            - --node-update-holdoff={{ .Values.operator.nodeUpdateHoldoff }}
            {{- end }}
          env:
            {{- if .Values.operator.nodeAffinity }}
            - name: NODEPOOL_AFFINITY
              value: "true"
            {{- end }}
            {{- if .Values.operator.useOctavia }}
            - name: USE_OCTAVIA
              value: "true"
            {{- end }}
            {{- if .Values.openstack.auth_url }}
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kubernikus-operator
                  key: password
            {{- end }}
          ports:
            - name: metrics
              containerPort: 9091
