apiVersion: extensions/v1beta1
kind: Deployment

metadata:
  name: kubernikus-operator
  labels:
    app: kubernikus
    type: operator

spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  template:
    metadata:
      labels:
        app: kubernikus
        type: operator
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: {{ .Values.operator.metrics_port | quote }}
    spec:
      containers:
        - name: operator
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          args:
            - kubernikus
            - operator
            - --chart-directory=/etc/kubernikus/charts
            {{- /* This is a bit convoluted but making sure that the url ends with /v3 */}}
            - --auth-url={{ trimSuffix "/" .Values.openstack.auth_url | trimSuffix "/v3" }}/v3
            - --auth-username={{ .Values.openstack.auth_user_id }}
            - --auth-password={{ .Values.openstack.auth_user_password }}
            - --auth-domain={{ .Values.openstack.auth_domain }}
            - --auth-project={{ .Values.openstack.auth_project }}
            - --auth-project-domain={{ .Values.openstack.auth_project_domain }}
            - --kubernikus-domain={{ .Values.domain }}
            - --namespace={{ default "kubernikus" .Values.namespace }}
            - --metric-port={{ default 9091 .Values.operator.metrics_port }}
            - --v={{ default 1 .Values.groundctl.log_level }}
          ports:
            - name: metrics
              containerPort: {{ .Values.operator.metrics_port }}
