{{ if .Values.openstack.auth_url -}}
apiVersion: v1
kind: Secret
type: Opaque

metadata:
  name: kubernikus-operator

data:
  authURL: {{ required "openstack.auth_url undefined" .Values.openstack.auth_url | trimSuffix "/"  | trimSuffix "/v3" | printf "%s/v3" | b64enc }}
  {{- if .Values.openstack.application_credential_secret }}
  {{- if .Values.openstack.application_credential_id }}
  applicationCredentialID: {{ .Values.openstack.application_credential_id | b64enc }}
  {{- end }}
  {{- if .Values.openstack.application_credential_name }}
  applicationCredentialName: {{ .Values.openstack.application_credential_name | b64enc }}
  {{- end }}
  applicationCredentialSecret: {{ required "openstack.application_credential_secret undefined" .Values.openstack.application_credential_secret | b64enc }}
  {{- else }}
  username: {{ required "openstack.auth_user_id undefined" .Values.openstack.auth_user_id | b64enc }}
  password: {{ required "openstack.auth_user_password undefined" .Values.openstack.auth_user_password | b64enc }}
  userDomain: {{ required "openstack.auth_domain undefined" .Values.openstack.auth_domain | b64enc }}
  project: {{ required "openstack.auth_project undefined" .Values.openstack.auth_project | b64enc }}
  projectDomain: {{ required "openstack.auth_project_domain undefined" .Values.openstack.auth_project_domain | b64enc }}
  {{- end }}
{{- end }}
