image: sapcc/kubernikus
imageTag: latest

openstack: {}
  #auth_url: "http://identityv3.openstack:5000/v3"
  #auth_user_id: "user1"
  #auth_user_password: "secret!"
  #auth_domain: "Default"
  #auth_project: "master"
  #auth_project_domain: "Default"

dex:
  ldap:
    config:
      # host: 
      # bindDN: 
      # bindPW:
      userSearch: {}
        # baseDN:
        # filter:
      groupSearch: {}
        # baseDN:
        # filter:
  image: keppel.eu-de-1.cloud.sap/ccloud-dockerhub-mirror/dexidp/dex:v2.30.2
  enabled: false
  clientID: kubernikus
  #clientSecret:
  connectors:
    - name: ldap
      id: ldap1
      projectID: project1
    - name: ldap2
      id: ldap2
      projectID: project2

api:
  port: 1234
  log_level: 1
  policyFile: /etc/kubernikus/policy.json

ingress:
  annotations:
    kubernetes.io/tls-acme: "true"
    prometheus.io/probe: "true"

groundctl:
  log_level: 1

revisionHistoryLimit: 3

k8sniff:
  enabled: true
  #external_service_ip: ""

# Multiple Kubernikus Installations in the same cluster?
standalone: true

operator:
  controllers: []
  nodeAffinity: false
  metrics_port: 9091
  useOctavia: false

includeRBAC: false

owner-info:
  helm-chart-url: 'https://github.com/sapcc/kubernikus/charts/kubernikus'
  maintainers:
    - Fabian Ruff
    - Erik Schubert
    - Uwe Mayer
    - Jan Knipper
  support-group: containers
  service: kubernikus
