image: sapcc/kubernikus
imageTag: latest

openstack: {}
  #auth_url: "http://identityv3.openstack:5000/v3"
  #auth_user_id: "user1"
  #auth_user_password: "secret!"
  #auth_domain: "Default"
  #auth_project: "master"
  #auth_project_domain: "Default"

api:
  port: 1234
  log_level: 1
  policyFile: /etc/kubernikus/policy.json

ingress:
  annotations:
    vice-president: "true"
    prometheus.io/probe: "true"

groundctl:
  log_level: 1

revisionHistoryLimit: 3

k8sniff:
  enabled: true
  #external_service_ip: ""

# Multiple Kubernikus Installations in the same cluster?
standalone: true

operator:
  controllers: []
  nodeAffinity: false
  metrics_port: 9091
  useOctavia: false

includeRBAC: false
