# Default values for kube-master.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  #repository and tag from from hyperkube.image helper
  pullPolicy: IfNotPresent

# Settings for the openstack cloudprovider
openstack: {}
  #authURL:
  #username:
  #password:
  #domainName:
  #projectID:
  #region:
  #lbSubnetID:
  #lbFloatingNetworkID
  #routerID:
  #region

# specify a different certsSecretName if you want to use
# an exiting secret
# certsSecretName:
#
# Use these keys to specify the certs as helm values
certs: {}

clusterCIDR: 198.19.0.0/16
serviceCIDR: 198.18.128.0/17
advertiseAddress: 198.18.128.1
#bootstrapToken
#nodePassword:
#name:
#account:

version: {}
# kubernikus:
# kubernetes: 1.10.11

api:
  replicaCount: 1
  # apiserverHost:
  # wormholeHost:
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 2Gi

cloudControllerManager:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512M

controllerManager:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

rejectProxy:
  enabled: false
  image:
    repository: sapcc/reject-proxy
    tag: 0.1.1
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 50m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 64Mi

scheduler:
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

revisionHistoryLimit: 3
