apiVersion: "autoscaling.k8s.io/v1"
kind: VerticalPodAutoscaler
metadata:
  name: {{ include "master.fullname" . }}-apiserver
spec:
  targetRef:
    {{- if .Capabilities.APIVersions.Has "apps/v1" }}
    apiVersion: "apps/v1"
    {{- else }}
    apiVersion: "extensions/v1beta1"
    {{- end }}
    kind: Deployment
    name: {{ include "master.fullname" . }}-apiserver
  resourcePolicy:
    containerPolicies:
      - containerName: apiserver
        controlledResources: ["cpu", "memory"]
        minAllowed:
          {{- toYaml .Values.api.resources.requests | nindent 12 }}
{{- if .Values.api.resources.limits }}
        maxAllowed:
          {{- toYaml .Values.api.resources.limits | nindent 12 }}
{{- end }}
      - containerName: wormhole
        controlledResources: ["cpu", "memory"]
        minAllowed:
          cpu: 50m
          memory: 128Mi
{{- if .Values.audit }}
      - containerName: fluentd
        controlledResources: ["cpu", "memory"]
        minAllowed:
          cpu: 25m
          memory: 128Mi
{{- end }}
