{{/* vim: set filetype=gotexttmpl: */ -}}
{{- if semverCompare ">=1.16-0" .Capabilities.KubeVersion.GitVersion }}
apiVersion: "apps/v1"
{{- else }}
apiVersion: "extensions/v1beta1"
{{- end }}
kind: Deployment
metadata:
  name: {{ include "master.fullname" . }}-apiserver
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  replicas: {{ .Values.api.replicaCount }}
  strategy:
    rollingUpdate:
      maxUnavailable: {{ if eq (toString .Values.api.replicaCount) "1" }}0{{else}}1{{end}}
      maxSurge: 1
  selector:
    matchLabels:
      app: {{ include "master.fullname" . }}-apiserver
  template:
    metadata:
      labels:
        app: {{ include "master.fullname" . }}-apiserver
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: certs
          secret:
            secretName: {{ required "secretName undefined" .Values.secretName }}
            items:
              - key: apiserver-clients-and-nodes-ca.pem
                path: apiserver-clients-and-nodes-ca.pem
              - key: apiserver-clients-ca-key.pem
                path: apiserver-clients-ca-key.pem
              - key: tls-etcd-ca.pem
                path: tls-etcd-ca.pem
              - key: etcd-clients-ca.pem
                path: etcd-clients-ca.pem
              - key: etcd-clients-apiserver.pem
                path: etcd-clients-apiserver.pem
              - key: etcd-clients-apiserver-key.pem
                path: etcd-clients-apiserver-key.pem
              - key: kubelet-clients-apiserver.pem
                path: kubelet-clients-apiserver.pem
              - key: kubelet-clients-apiserver-key.pem
                path: kubelet-clients-apiserver-key.pem
              - key: apiserver-clients-cluster-admin.pem
                path: kube-client.pem
              - key: apiserver-clients-cluster-admin-key.pem
                path: kube-client.key
              - key: tls-ca.pem
                path: tls-ca.pem
              - key: tls-apiserver.pem
                path: tls-apiserver.pem
              - key: tls-apiserver-key.pem
                path: tls-apiserver-key.pem
              - key: aggregation-ca.pem
                path: aggregation-ca.pem
              - key: aggregation-aggregator.pem
                path: aggregation-aggregator.pem
              - key: aggregation-aggregator-key.pem
                path: aggregation-aggregator-key.pem
{{- if .Values.api.sniCertSecret }}
        - name: sni-certs
          secret:
            secretName: {{ .Values.api.sniCertSecret }}
{{- end }}
        - name: wormhole-certs
          secret:
            secretName: {{ required "secretName undefined" .Values.secretName }}
            items:
              - key: tls-ca.pem
                path: tls-ca.pem
              - key: tls-wormhole.pem
                path: tls-wormhole.pem
              - key: tls-wormhole-key.pem
                path: tls-wormhole-key.pem
              - key: apiserver-nodes-ca.pem
                path: apiserver-nodes-ca.pem
              #Todo: Replace with wormhole client cert but that needs some RBAC seeding
              - key: apiserver-clients-cluster-admin.pem
                path: kube-client.pem
              - key: apiserver-clients-cluster-admin-key.pem
                path: kube-client.key

        {{- if .Values.openstack }}
        - name: cloudprovider
          secret:
            secretName: {{ include "master.fullname" . }}-generated
            items:
              - key: openstack.config
                path: openstack.config
        {{- end }}
        - name: bootstrap
          secret:
            secretName: {{ include "master.fullname" . }}-generated
            items:
              - key: token.csv
                path: token.csv
        - name: config
          configMap:
            name: {{ include "master.fullname" . }}
        - name: liveness-probe
          configMap:
            name: {{ include "master.fullname" . }}
            defaultMode: 0700
            items:
              - key: api-liveness-probe.py
                path: api-liveness-probe.py
        - name: wormhole-config
          configMap:
            name: {{ include "master.fullname" . }}
            items:
              - key: local-kubeconfig
                path: kubeconfig
      initContainers:
        - name: etcd-wait
          image: "{{ required "etcd.image.repository undefined" .Values.etcd.image.repository }}:{{ required "etcd.image.tag undefined" .Values.etcd.image.tag }}"
          command:
            - sh
            - -c
          args:
{{- if .Values.etcd.secure.enabled }}
            - until etcdctl --endpoints https://{{ include "etcd.fullname" . }}:2379 --cacert=/etc/kubernetes/certs/tls-etcd-ca.pem --cert=/etc/kubernetes/certs/etcd-clients-apiserver.pem --key=/etc/kubernetes/certs/etcd-clients-apiserver-key.pem --insecure-transport=false endpoint health; do sleep 5; done;
          env:
            - name: ETCDCTL_API
              value: "3"
          volumeMounts:
            - mountPath: /etc/kubernetes/certs
              name: certs
              readOnly: true
{{- else }}
            - until etcdctl --total-timeout=4s --endpoints http://{{ include "etcd.fullname" . }}:2379 cluster-health; do sleep 5; done;
{{- end }}
      containers:
        - name: apiserver
          image: {{ include "hyperkube.image" . | quote }}
          args:
            - /hyperkube
{{- if (semverCompare ">= 1.15" .Values.version.kubernetes) }}
            - kube-apiserver
{{- else }}
            - apiserver
{{- end }}
            {{- if .Values.etcd.secure.enabled }}
            - --etcd-servers=https://{{ include "etcd.fullname" . }}:2379
            {{- else }}
            - --etcd-servers=http://{{ include "etcd.fullname" . }}:2379
            {{- end }}
            - --secure-port={{ required "missing advertisePort" .Values.advertisePort }}
            - --advertise-address={{ .Values.advertiseAddress }}
            - --allow-privileged=true
            - --authorization-mode=Node,RBAC
            {{- if .Values.openstack }}
            - --cloud-config=/etc/kubernetes/cloudprovider/openstack.config
            - --cloud-provider=openstack
            {{- end }}
{{- if (semverCompare ">= 1.8" .Values.version.kubernetes) }}
            - --enable-bootstrap-token-auth=true
            - --external-hostname={{ required "missing .api.apiserverHost" .Values.api.apiserverHost }}
{{- else }}{{/* 1.7 */}}
            - --experimental-bootstrap-token-auth=true
            - --runtime-config=rbac.authorization.k8s.io/v1alpha1,extensions/v1beta1=true,extensions/v1beta1/thirdpartyresources=true
{{- end }}
            - --token-auth-file=/etc/kubernetes/bootstrap/token.csv
            - --service-cluster-ip-range={{ .Values.serviceCIDR }}
            - --kubelet-preferred-address-types=InternalIP
{{- if (semverCompare ">= 1.10" .Values.version.kubernetes) }}
            - --enable-admission-plugins=ExtendedResourceToleration
            # Aggregation Layer
            - --requestheader-client-ca-file=/etc/kubernetes/certs/aggregation-ca.pem
            - --requestheader-allowed-names=aggregator
            - --requestheader-extra-headers-prefix=X-Remote-Extra-
            - --requestheader-group-headers=X-Remote-Group
            - --requestheader-username-headers=X-Remote-User
            - --proxy-client-cert-file=/etc/kubernetes/certs/aggregation-aggregator.pem
            - --proxy-client-key-file=/etc/kubernetes/certs/aggregation-aggregator-key.pem
            - --enable-aggregator-routing=true
{{- else }}{{/* < 1.10 */}}
            - --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota
            - --tls-ca-file=/etc/kubernetes/certs/tls-ca.pem
{{- end }}
{{- if (semverCompare ">= 1.13" .Values.version.kubernetes) }}
            - --enable-admission-plugins=PersistentVolumeLabel
{{- end }}
{{- if (semverCompare ">= 1.14" .Values.version.kubernetes) }}
            - --feature-gates=NodeLease=false
{{- else if (semverCompare ">= 1.12" .Values.version.kubernetes)}}
            # https://github.com/kubernetes/kubernetes/issues/85867
            - --feature-gates=ValidateProxyRedirects=true
{{- end }}
            #Cert Spratz
            - --client-ca-file=/etc/kubernetes/certs/apiserver-clients-and-nodes-ca.pem
            - --etcd-cafile=/etc/kubernetes/certs/tls-etcd-ca.pem
            - --etcd-certfile=/etc/kubernetes/certs/etcd-clients-apiserver.pem
            - --etcd-keyfile=/etc/kubernetes/certs/etcd-clients-apiserver-key.pem
            - --kubelet-client-certificate=/etc/kubernetes/certs/kubelet-clients-apiserver.pem
            - --kubelet-client-key=/etc/kubernetes/certs/kubelet-clients-apiserver-key.pem
            - --service-account-key-file=/etc/kubernetes/certs/apiserver-clients-ca-key.pem
            - --tls-cert-file=/etc/kubernetes/certs/tls-apiserver.pem
            - --tls-private-key-file=/etc/kubernetes/certs/tls-apiserver-key.pem
{{- if .Values.api.sniCertSecret }}
            - --tls-sni-cert-key=/etc/kubernetes/sni-certs/tls.crt,/etc/kubernetes/sni-certs/tls.key
{{- end }}
{{- if .Values.api.corsAllowedOrigins }}
            - --cors-allowed-origins={{ .Values.api.corsAllowedOrigins }}
{{- end }}
            {{ if .Values.dex.enabled }}
            - --oidc-issuer-url=https://{{ include "dex.url" . }} 
            - --oidc-client-id=kubernetes
            - --oidc-groups-claim=groups
            - --oidc-username-prefix=-
            - --oidc-username-claim=name
            {{ end }}
          volumeMounts:
            - mountPath: /etc/kubernetes/certs
              name: certs
              readOnly: true
{{- if .Values.api.sniCertSecret }}
            - mountPath: /etc/kubernetes/sni-certs
              name: sni-certs
              readOnly: true
{{- end }}
            {{- if .Values.openstack }}
            - mountPath: /etc/kubernetes/cloudprovider
              name: cloudprovider
              readOnly: true
            {{- end }}
            - mountPath: /etc/kubernetes/bootstrap
              name: bootstrap
              readOnly: true
            - mountPath: /liveness-probe
              name: liveness-probe
          livenessProbe:
            exec:
              command:
                - /liveness-probe/api-liveness-probe.py
            initialDelaySeconds: 60
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.advertisePort }}
              scheme: HTTPS
            initialDelaySeconds: 15
            timeoutSeconds: 3
          env:
            - name: ETCD_HOST
              value: {{ include "etcd.fullname" . }}
            - name: ETCD_BACKUP_PORT
              value: "8080" 
          resources:
{{ toYaml .Values.api.resources | indent 12 }}
        - name: wormhole
          image: sapcc/kubernikus:{{ required ".version.kubernikus missing" .Values.version.kubernikus }}
          args:
            - wormhole
            - server
            - --kubeconfig=/etc/kubernetes/config/kubeconfig
            - --ca=/etc/kubernetes/certs/apiserver-nodes-ca.pem
            - --cert=/etc/kubernetes/certs/tls-wormhole.pem
            - --key=/etc/kubernetes/certs/tls-wormhole-key.pem
            - --service-cidr={{ .Values.serviceCIDR }}
            - --api-port={{ .Values.advertisePort }}
            - --v=5
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          volumeMounts:
            - mountPath: /etc/kubernetes/certs/
              name: wormhole-certs
              readOnly: true
            - mountPath: /etc/kubernetes/config
              name: wormhole-config
              readOnly: true
