{{/* vim: set filetype=gotexttmpl: */ -}}
{{- if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: "apps/v1"
{{- else }}
apiVersion: "extensions/v1beta1"
{{- end }}
kind: Deployment
metadata:
  name: {{ include "master.fullname" . }}-cmanager
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  replicas: {{ .Values.api.replicaCount }}
  strategy:
    rollingUpdate:
      maxUnavailable: {{ if eq (toString .Values.api.replicaCount) "1" }}0{{else}}1{{end}}
      maxSurge: 1
  selector:
    matchLabels:
      app: controller-manager
      kluster: {{ .Values.name }}
      account: {{ .Values.account }}
  template:
    metadata:
      labels:
        component: controller-manager
        app: controller-manager
        kluster: {{ .Values.name }}
        account: {{ .Values.account }}
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: certs
          secret:
            secretName: {{ .Values.secretName }}
            items:
              - key: tls-ca.pem
                path: tls-ca.pem
              - key: apiserver-clients-system-kube-controller-manager.pem
                path: kube-client.pem
              - key: apiserver-clients-system-kube-controller-manager-key.pem
                path: kube-client.key
              - key: apiserver-nodes-ca.pem
                path: apiserver-nodes-ca.pem
              - key: apiserver-nodes-ca-key.pem
                path: apiserver-nodes-ca-key.pem
              - key: apiserver-clients-ca.pem
                path: apiserver-clients-ca.pem
              - key: apiserver-clients-ca-key.pem
                path: apiserver-clients-ca-key.pem
        - name: config
          configMap:
            name: {{ include "master.fullname" . }}
        {{- if .Values.openstack }}
        - name: cloudprovider
          secret:
            secretName: {{ include "master.fullname" . }}-generated
            items:
              - key: openstack.config
                path: openstack.config
        - name: openstack-hacks
          configMap:
            name: {{ include "master.fullname" . }}-os-hacks
        {{- end }}
      initContainers:
        - name: apiserver-wait
{{- if (semverCompare ">= 1.19" .Values.version.kubernetes) }}
          image: {{ include "kubelet.image" . | quote }}
{{- else }}
          image: {{ include "hyperkube.image" . }}
{{- end }}
          command:
            - sh
            - -c
          args:
            - until kubectl version --short --kubeconfig /etc/kubernetes/config/kubeconfig --request-timeout=4s | grep -i "Server.*{{ .Values.version.kubernetes }}"; do sleep 5; done;
          volumeMounts:
            - mountPath: /etc/kubernetes/certs/
              name: certs
              readOnly: true
            - mountPath: /etc/kubernetes/config
              name: config
              readOnly: true
      containers:
        - name: controller-manager
{{- if (semverCompare ">= 1.12" .Values.version.kubernetes) }}
          ports:
          - containerPort: 10257
            name: metrics
            protocol: TCP
{{- end }}
{{- if (semverCompare ">= 1.19" .Values.version.kubernetes) }}
          image: {{ include "controllerManager.image" . | quote }}
{{- else }}
          image: {{ include "hyperkube.image" . | quote }}
{{- end }}
          args:
{{- if (semverCompare "< 1.17" .Values.version.kubernetes) }}
            - /hyperkube
{{- end }}
{{- if (semverCompare ">= 1.15" .Values.version.kubernetes) }}
            - kube-controller-manager
{{- else }}
            - controller-manager
{{- end }}
            {{- if .Values.clusterCIDR }}
            - --cluster-cidr={{ .Values.clusterCIDR }}
            - --allocate-node-cidrs=true
            {{- end }}
            {{- if .Values.openstack }}
            {{- if (semverCompare "< 1.21" .Values.version.kubernetes) }}
            - --cloud-config=/etc/kubernetes/cloudprovider/openstack.config
            {{- end }}
{{- if (semverCompare ">= 1.13" .Values.version.kubernetes) }}
            {{- if (semverCompare "< 1.21" .Values.version.kubernetes) }}
            - --cloud-provider=external
            - --external-cloud-volume-plugin=openstack
            {{- end }}
{{- else }}
            - --cloud-provider=openstack
            - --configure-cloud-routes=true
{{- end }}
            {{- end }}
            - --cluster-name={{ .Values.name }}
            - --cluster-signing-cert-file=/etc/kubernetes/certs/apiserver-nodes-ca.pem
            - --cluster-signing-key-file=/etc/kubernetes/certs/apiserver-nodes-ca-key.pem
            - --controllers=*,bootstrapsigner,tokencleaner
            - --kubeconfig=/etc/kubernetes/config/kubeconfig
{{- if (semverCompare ">= 1.12" .Values.version.kubernetes) }}
            - --authentication-kubeconfig=/etc/kubernetes/config/kubeconfig
            - --authorization-kubeconfig=/etc/kubernetes/config/kubeconfig
{{- end }}
{{- if and (semverCompare ">= 1.14" .Values.version.kubernetes) (semverCompare "< 1.17" .Values.version.kubernetes) }}
            - --feature-gates=NodeLease=false
{{- end }}
{{- if and (.Values.openstack) (semverCompare ">= 1.20" .Values.version.kubernetes) (semverCompare "< 1.26" .Values.version.kubernetes)}}
            - --feature-gates=CSIMigration=true,CSIMigrationOpenStack=true,ExpandCSIVolumes=true
{{- end }}
            - --leader-elect=false
            - --root-ca-file=/etc/kubernetes/certs/tls-ca.pem
            - --service-account-private-key-file=/etc/kubernetes/certs/apiserver-clients-ca-key.pem
            - --service-cluster-ip-range={{ .Values.serviceCIDR }}
            - --use-service-account-credentials
            - --pv-recycler-pod-template-filepath-hostpath=/etc/kubernetes/config/pv-recycler-template
            - --pv-recycler-pod-template-filepath-nfs=/etc/kubernetes/config/pv-recycler-template
          livenessProbe:
            httpGet:
              path: /healthz
{{- if (semverCompare ">= 1.13" .Values.version.kubernetes) }}
              port: 10257
              scheme: HTTPS
{{- else }}
              port: 10252
              scheme: HTTP
{{- end }}
            initialDelaySeconds: 15
            timeoutSeconds: 15
          volumeMounts:
            - mountPath: /etc/kubernetes/certs/
              name: certs
              readOnly: true
            - mountPath: /etc/kubernetes/config
              name: config
              readOnly: true
            {{- if .Values.openstack }}
            - mountPath: /etc/kubernetes/cloudprovider
              name: cloudprovider
              readOnly: true
            - mountPath: /var/lib/cloud/data/
              name: openstack-hacks
              readOnly: true
            {{- end }}
          resources:
{{ toYaml .Values.controllerManager.resources | indent 12 }}
{{- if .Values.openstack }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "master.fullname" . }}-os-hacks
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
data:
  instance-id: gurkenwurst
{{- end }}
