{{/* vim: set filetype=gotexttmpl: */ -}}
{{ if .Values.dex.enabled }}
{{- if .Capabilities.APIVersions.Has "apps/v1" }}
apiVersion: "apps/v1"
{{- else }}
apiVersion: "extensions/v1beta1"
{{- end }}
kind: Deployment
metadata:
  labels:
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
  name: {{ include "master.fullname" . }}-dex 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "master.fullname" . }}-dex 
      release: {{ .Release.Name }}  
  template:
    metadata:
      labels:
        app: {{ include "master.fullname" . }}-dex 
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/dex-configmap.yaml") . | sha256sum }}
    spec:
      initContainers:
      - name: etcd-wait
        image: "{{ include "etcd.image" . }}"
        command:
          - sh
          - -c
        args:
{{- if .Values.etcd.secure.enabled }}
          - until etcdctl --dial-timeout=4s --endpoints https://{{ include "etcd.fullname" . }}:2379 --cacert=/etc/kubernetes/certs/tls-etcd-ca.pem --cert=/etc/kubernetes/certs/etcd-clients-dex.pem --key=/etc/kubernetes/certs/etcd-clients-dex-key.pem --insecure-transport=false endpoint health; do sleep 5; done;
        env:
        - name: ETCDCTL_API
          value: "3"
        volumeMounts:
        - name: certs
          mountPath: /etc/kubernetes/certs
          readOnly: true
{{- else }}
          - until etcdctl --total-timeout=4s --endpoints http://{{ include "etcd.fullname" . }}:2379 cluster-health; do sleep 5; done;
{{- end }}
      containers:
      - image: {{ include "dex.image" . | quote }}
        name: dex
        command: ["/usr/local/bin/dex", "serve", "/etc/dex/cfg/config.yaml"]
        ports:
        - name: http
          containerPort: 80
        env:
        {{ if .Values.dex.connectors.keystone.enabled }}
        - name: KEYSTONE_ADMIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.keystone.secret undefined" .Values.dex.connectors.keystone.secret }}
              key: adminUsername
        - name: KEYSTONE_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.keystone.secret undefined" .Values.dex.connectors.keystone.secret }}
              key: adminPassword
        - name: KEYSTONE_ADMIN_USER_DOMAIN
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.keystone.secret undefined" .Values.dex.connectors.keystone.secret }}
              key: adminUserDomain
        - name: KEYSTONE_ADMIN_PROJECT
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.keystone.secret undefined" .Values.dex.connectors.keystone.secret }}
              key: adminProject
        - name: KEYSTONE_ADMIN_DOMAIN
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.keystone.secret undefined" .Values.dex.connectors.keystone.secret }}
              key: adminDomain
        {{ end }}
        {{ if .Values.dex.connectors.ldap.enabled }}
        - name: LDAP_CONFIG_HOST
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: host
        - name: LDAP_CONFIG_BIND_DN
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: bindDN
        - name: LDAP_CONFIG_BIND_PW
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: bindPW
        - name: LDAP_USER_SEARCH_BASEDN
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: userSearchBaseDN
        - name: LDAP_USER_SEARCH_FILTER
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: userSearchFilter
        - name: LDAP_GROUP_SEARCH_BASEDN
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: groupSearchBaseDN
        - name: LDAP_GROUP_SEARCH_FILTER
          valueFrom:
            secretKeyRef:
              name: {{ required "dex.connectors.ldap.secret undefined" .Values.dex.connectors.ldap.secret }}
              key: groupSearchFilter
        {{ end }}
        livenessProbe:
          httpGet:
            path: /keys
            port: 80
          initialDelaySeconds: 3
          timeoutSeconds: 2
        readinessProbe:
          httpGet:
            path: /keys
            port: 80
          initialDelaySeconds: 3
          timeoutSeconds: 2
        volumeMounts:
        - name: config
          mountPath: /etc/dex/cfg
{{- if .Values.etcd.secure.enabled }}
        - name: certs
          mountPath: /etc/kubernetes/certs
          readOnly: true
{{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "master.fullname" . }}-dex
          defaultMode: 0420
          items:
          - key: config.yaml
            path: config.yaml
{{- if .Values.etcd.secure.enabled }}
      - name: certs
        secret:
          secretName: {{ required "secretName undefined" .Values.secretName }}
          items:
            - key: tls-etcd-ca.pem
              path: tls-etcd-ca.pem
            - key: etcd-clients-dex.pem
              path: etcd-clients-dex.pem
            - key: etcd-clients-dex-key.pem
              path: etcd-clients-dex-key.pem
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "master.fullname" . }}-dex
  labels:
    app: {{ include "master.fullname" . }}-dex 
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    name: http
  selector:
    app: {{ include "master.fullname" . }}-dex
---
{{- if semverCompare ">= 1.19" .Capabilities.KubeVersion.GitVersion }}
apiVersion: networking.k8s.io/v1
{{- else }}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  labels:
    app: {{ include "master.fullname" . }}-dex 
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
  name: {{ include "master.fullname" . }}-dex 
spec:
  rules:
  - host: {{ include "dex.url" . }} 
    http:
      paths:
      - path: /
{{- if semverCompare ">= 1.19" .Capabilities.KubeVersion.GitVersion }}
        pathType: Prefix
        backend:
          service:
            name: {{ include "master.fullname" . }}-dex
            port:
              number: 80
{{- else }}
        backend:
          serviceName: {{ include "master.fullname" . }}-dex
          servicePort: 80
{{- end }}
  tls:
  - hosts:
    -  {{ include "dex.url" . }}
    secretName:  {{ required "dex.ingressSecret undefined" .Values.dex.ingressSecret }}
{{ end }}
