{{/* vim: set filetype=gotexttmpl: */ -}}
{{- if .Values.api.apiserverHost }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "master.fullname" . }}
  annotations:
    kubernetes.io/ingress.class: k8sniff
    ingress.kubernetes.io/ssl-passthrough: "true"
    prometheus.io/probe: "true"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}

spec:
  rules:
    - host: {{ required "missing .api.apiserverHost" .Values.api.apiserverHost }}
      http:
        paths:
        - path: /
          backend:
            serviceName: {{ include "master.fullname" . }}
            servicePort: {{ .Values.advertisePort }}
    - host: {{ required "missing .api.wormholeHost" .Values.api.wormholeHost }}
      http:
        paths:
        - path: /
          backend:
            serviceName: {{ include "master.fullname" . }}
            servicePort: 6553
{{- end }}
