{{/* vim: set filetype=gotexttmpl: */ -}}
apiVersion: "extensions/v1beta1"
kind: Deployment
metadata:
  name: {{ include "master.fullname" . }}-scheduler
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    kluster: {{ .Release.Name }}

spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  replicas: {{ .Values.scheduler.replicaCount }}
  strategy:
    rollingUpdate:
      maxUnavailable: {{ if eq (toString .Values.api.replicaCount) "1" }}0{{else}}1{{end}}
      maxSurge: 1
  selector:
    matchLabels:
      app: {{ include "master.fullname" . }}-scheduler
  template:
    metadata:
      labels:
        app: {{ include "master.fullname" . }}-scheduler
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- if (semverCompare "< 1.13-0" .Capabilities.KubeVersion.GitVersion ) }}
        scheduler.alpha.kubernetes.io/critical-pod: ''
{{- end }}
    spec:
{{- if (semverCompare ">= 1.10-0" .Capabilities.KubeVersion.GitVersion) }} 
      priorityClassName: system-node-critical
{{- end }}
      volumes:
        - name: certs
          secret:
            secretName: {{ .Values.secretName }}
            items:
              - key: tls-ca.pem
                path: tls-ca.pem
              - key: apiserver-clients-system-kube-scheduler.pem
                path: kube-client.pem
              - key: apiserver-clients-system-kube-scheduler-key.pem
                path: kube-client.key
        - name: config
          configMap:
            name: {{ include "master.fullname" . }}
      containers:
        - name: scheduler
          image: {{ include "hyperkube.image" . | quote }}
          args:
            - /hyperkube
{{- if (semverCompare ">= 1.15" .Values.version.kubernetes) }}
            - kube-scheduler
{{- else }}
            - scheduler
{{- end }}
            - --kubeconfig=/etc/kubernetes/config/kubeconfig
{{- if (semverCompare ">= 1.13" .Values.version.kubernetes) }}
            - --authentication-kubeconfig=/etc/kubernetes/config/kubeconfig
            - --authorization-kubeconfig=/etc/kubernetes/config/kubeconfig
{{- end }}
            - --leader-elect=false
          livenessProbe:
            httpGet:
              path: /healthz
{{- if (semverCompare ">= 1.13" .Values.version.kubernetes) }}
              port: 10259
              scheme: HTTPS
{{- else }}
              port: 10251
              scheme: HTTP
{{- end }}
            initialDelaySeconds: 15
            timeoutSeconds: 15
          volumeMounts:
            - mountPath: /etc/kubernetes/certs
              name: certs
              readOnly: true
            - mountPath: /etc/kubernetes/config
              name: config
              readOnly: true
          resources:
{{ toYaml .Values.scheduler.resources | indent 12 }}
