{{/* vim: set filetype=gotexttmpl: */ -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "master.fullname" . }}-generated
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name }}
type: Opaque
data:
  {{- if .Values.openstack }}
  openstack.config: {{ include (print $.Template.BasePath "/_openstack.config.tpl") . | b64enc}}
  {{- if (semverCompare ">= 1.16" .Values.version.kubernetes) }}
  openstack-ccmanager.config: {{ include (print $.Template.BasePath "/_openstack-ccmanager.config.tpl") . | b64enc}}
  {{- end }}
  {{- if (semverCompare ">= 1.20" .Values.version.kubernetes) }}
  openstack-csi.config: {{ include (print $.Template.BasePath "/_openstack-csi.config.tpl") . | b64enc}}
  {{- end }}
  {{- end }}
  token.csv: {{ include (print $.Template.BasePath "/_token.csv.tpl") . | b64enc }}
