{{- if (semverCompare ">= 1.12" .Values.version.kubernetes) }}
apiVersion: v1
kind: Service
metadata:
  labels:
    component: controller-manager-metrics
    release: {{ .Release.Name }}
  name: {{ .Release.Name }}-cm-metrics
spec:
  ports:
  - name: metrics
    port: 10257
    protocol: TCP
    targetPort: 10257
  selector:
    component: controller-manager
    release: {{ .Release.Name }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    component: scheduler-metrics
    release: {{ .Release.Name }}
  name: {{ .Release.Name }}-sched-metrics
spec:
  ports:
  - name: metrics
    port: 10259
    protocol: TCP
    targetPort: 10259
  selector:
    component: scheduler
    release: {{ .Release.Name }}
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  labels:
    component: etcd-metrics
    release: {{ .Release.Name }}
  name: {{ .Release.Name }}-etcd-metrics
spec:
  ports:
  - name: metrics
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    component: etcd
    release: {{ .Release.Name }}
