authentication:
  enabled: false
#  cacrt: |
#    -----BEGIN CERTIFICATE-----
#    MIIB+jCCAWOgAwIBAgIEAQAAADANBgkqhkiG9w0BAQUFADAvMQswCQYDVQQGEwJE
#    ...
#    vrEcgtBVIuzM+sVEp7RRM6Y+fL9u+69krtndZ8Ft
#    -----END CERTIFICATE-----

#domain: "kubernikus.cloud.sap"

#global:
#  region: eu-de-1

nginx-ingress:
  controller:
    name: controller
    image:
      repository: sapcc/nginx-ingress-controller
      tag: "0.10.2"
      pullPolicy: IfNotPresent

    config:
      http-snippet: |
        map $ssl_client_s_dn $ssl_client_s_dn_cn {
            default "anonymous";
            ~CN=(?<CN>[^/,\"]+) $CN;
        }
      location-snippet: |
        proxy_set_header X-REMOTE-USER $ssl_client_s_dn_cn;
      custom-http-errors: 502,503,504

    ## DaemonSet or Deployment
    kind: Deployment
    replicaCount: 1

    minReadySeconds: 30
    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1

    stats:
      enabled: true

  rbac:
    create: true

  statsExporter:
    resources:
      limits:
        cpu: 10m
        memory: 20Mi
      requests:
        cpu: 10m
        memory: 20Mi

  defaultBackend:
    ## If false, controller.defaultBackendService must be provided
    enabled: true
    custom_http_errors: 502,503,504
    image:
      repository: quay.io/kubernetes-ingress-controller/custom-error-pages
      tag: "0.3"
      pullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 10m
        memory: 20Mi
      requests:
        cpu: 10m
        memory: 20Mi

fluent-bit:
  image:
    fluent_bit:
      repository: fluent/fluent-bit
      tag: 1.0.1
    pullPolicy: IfNotPresent

  metrics:
    enabled: false

  trackOffsets: false

  backend:
    es:
      # host:
      # http_user:
      # http_passwd:
      tls_ca: ""

  # filter:
  # list of additional static values added to each log entry
  #  additionalValues:
  #  - key: some-key
  #    value: some-value

  parsers:
    enabled: false

  env: []

  podAnnotations:
    # manual versioning, raise if configmap changes
    versioning: "1"

  existingConfigMap: fluent-bit-config

  extraVolumes: []

  extraVolumeMounts: []

  resources:
    limits:
      cpu: 500m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi

  tolerations: []

  nodeSelector: {}

  rbac:
    create: true

  serviceAccount:
    create: true
    name:

disco:
  enabled: false

  # Record which should be used for the CNAME.
  # record: ingress.domain.tld.p.

  # Credentials of the service user who creates the recordsets in OpenStack Designate.
  openstack: {}
  # authURL:            DEFINED-IN-SECRETS
  # regionName:         DEFINED-IN-SECRETS
  # username:           DEFINED-IN-SECRETS
  # userDomainName:     DEFINED-IN-SECRETS
  # password:           DEFINED-IN-SECRETS
  # projectName:        DEFINED-IN-SECRETS
  # projectDomainName:  DEFINED-IN-SECRETS
  # zoneName:           DEFINED-IN-SECRETS

  metrics:
    # Name of the Prometheis by which the metrics will be scraped.
    prometheus: kubernikus
